<section class="skills section">
    <div class="container">
      <div class="title">
        Skills
      </div>
      <div class="subtitle">
        I work in such langs and technologies as
      </div>
      <div class="skill_list">
        <div class="item">
          <div class="logo">
            <img src="{% static 'landing/img/svg/HTML5.svg' %}" alt="">
          </div>
          <div class="title">html</div>
          <ul class="rating">
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>
        </div>
        <div class="item">
          <div class="logo">
            <img src="{% static 'landing/img/svg/HTML5.svg' %}" alt="">
          </div>
          <div class="title">html</div>
          <ul class="rating">
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>
        </div>
        <div class="item">
          <div class="logo">
            <img src="{% static 'landing/img/svg/HTML5.svg' %}" alt="">
          </div>
          <div class="title">html</div>
          <ul class="rating">
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>
        </div>
        <div class="item">
          <div class="logo">
            <img src="{% static 'landing/img/svg/HTML5.svg' %}" alt="">
          </div>
          <div class="title">html</div>
          <ul class="rating">
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li class="active"><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
            <li><i class="fa-solid fa-star"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
