<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTWO</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-white" style="font-family: 'Source Sans Pro', sans-serif;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light pb-3" style="background: #000000;">
            <div class="container">
                <a class="navbar-brand text-white" href="#">
                    <img src="img/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <ul class="navbar nav text-uppercase">
                        <li class="nav-item active">
                        <a class=" nav-link text-white" href="#">shop <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" href="#">Team</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-white" href="#" >Contact</a>
                        </li>
                    </ul>
                </div>
            </div>    
          </nav>
          <div class="main" style="padding: 50px 0;background: url(img/bg-1.png) no-repeat center / cover;">
            <div class="container d-flex   justify-content-start flex-column h-100 py-5">
                <div class="h1 text-white mt-5 font-weight-bold text-uppercase mb-4"  style="font-family: Arial, Helvetica, sans-serif; font-size: 84px">
                  Summer
                  <br> 
                  never
                  <br> 
                  ends.
                </div>
                <div>
                    <a href="#" class="text-white font-weight-bold mb-5 btn text-uppercase" style="font-size: 18px;background: #22d1ad">New Designs
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </a>
                </div>
            </div>
          </div>
    </header>
    <div class="container d-flex my-5 justify-content-center" >
        <div class="block d-flex flex-column align-items-center text-white text-uppercase justify-content-end font-weight-bold"  style="font-size: 36px;background: url(img/who_are_we1.png) no-repeat center / cover; min-height: 400px; min-width: 300px;">
            It’s
            <br>
            Freedom
            <br>
            <img class="mb-4 mt-3" src="img/white-wave.png" alt="wave">
        </div>
        <div class="block d-flex flex-column align-items-center text-white text-uppercase justify-content-end font-weight-bold"  style="font-size: 36px;background: url(img/who_are_we2.png) no-repeat center / cover; min-height: 400px; min-width: 300px;">
            <div class="price">
                €80
            </div>
            <a href="#" class="btn rounded-circle text-white text-uppercase mb-4" style="background:#22d1ad; width: 80px;height: 80px;">
                City
                <br>
                Cruiser
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
            </a>
        </div>
        <div class="block d-flex flex-column align-items-center text-white text-uppercase justify-content-end font-weight-bold"  style="font-size: 36px;background: url(img/who_are_we3.png) no-repeat center / cover; min-height: 400px; min-width: 300px;">
            It’s
            <br>
            Lifestyle
            <br>
            <img class="mb-4 mt-3" src="img/white-wave.png" alt="wave">
        </div>
        
    </div>
    <div class="container mt-5 pt-5">
        <div class="h1 font-weight-bold text-uppercase text-center mt-5" style="font-size: 48px;">
            Who we Are
            <br>
            <img src="img/wave.png" alt="">
        </div>
        <div class="text-center mt-5" style="color:#bebfc4; font-size: 24;">
            <i class="font-weight-bold">DTWO</i> is a longboard company from Slovenia. Our goal is to deliver good, progressively
            <br> shaped longboards, carefully crafted with second dimension in mind.
            <br>
            <a href="" style="color:#22d1ad">
                Our story
            </a>
        </div>
        <div class="my-5 flex-column pt-5 d-flex justify-content-center align-items-center">
            <img src="img/skate.png" alt="">
        </div>
        <div class="wrapper text-center my-5">
            <img src="img/wave.png" alt="">
        </div>
    </div>
    <div class="container d-flex justify-content-center my-5">
        <img src="img/lst1.png" alt="#">
        <img src="img/lst2.png" alt="#">
        <img src="img/lst3.png" alt="#">
        <img src="img/lst4.png" alt="#">
    </div>
    <div class="wrapper text-center my-5">
        <img src="img/wave.png" alt="">
    </div>
    <div style="background:#f1f0f3;" class="p-3">
        <div class="container d-flex justify-content-between" >
            <div class="text-secondary">   
                © Dimension TWO
            </div>
            <div>
                <a href="#" class="ml-4 text-secondary" style="text-decoration: underline;">Shop</a>
                <a href="#" class="ml-4 text-secondary" style="text-decoration: underline;">Team</a>
                <a href="#" class="ml-4 text-secondary" style="text-decoration: underline;">Blog</a>
                <a href="#" class="ml-4 text-secondary" style="text-decoration: underline;">Contact</a>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>