<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КРЫЛАТКО</title>
    <link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="container nav">
                <div class="nav-brand">
                    <img src="img/лого.png" alt="logo">
                </div>
                <div class="feedback-number">
                    <div class="number">+7 (950) 733-31-70</div>
                    <a href="#" class="book" class="book-feedback-call">Заказать обратный звонок</a>
                </div>
            </div>
        </div>
        <div class="main-section">
            <div class="container main-inner">
                <h1 class="header-title">
                    Сертифицированные детские
                    <br>
                     бескаркасные автокресла
                </h1>
                <p class="header-subtitle">
                    с бесплатной доставкой по Челябинску
                </p>
                <div class="quick-form">
                    <h3 class="quick-form-title">
                        Нет времени читать?
                    </h3>
                    <p class="quick-form-subtitle">
                        Оставляйте номер, мы вам перезвоним!
                    </p>
                    <input type="text" class="input-mobile-number" placeholder="Ваш телефон">
                    <a href="#" class="btn thanksBtn">ПЕРЕЗВОНИТЕ МНЕ</a>
                </div>
            </div>
        </div>
    </div>
    


    <section class="arguments">
        <div class="container">
            <h2 class="arguments-main-title">
                Почему именно бескаркасные кресла?
            </h2>
            <div class="arguments-block">
                <div class="arguments-arrow">
                    <img src="img/arrow-blue-dotet.png" alt="arrow">
                </div>
                <div class="arguments-block-info">
                    <div class="argumnets-block-info-title">
                        Оставляет ваш салон
                        <br> 
                        свободным
                    </div>
                    <div class="arguments-block-info-text">
                        Бескаркаяное автокресло «Смайл» можно не снимать во время перевозки взрослого или груза. Кресло весит всего 700 грамм и установить его можно в любой автомобиль.
                    </div>
                </div>
                <div class="arguments-image">
                    <img src="img/section-2-armchair.png" alt="">
                </div>
            </div>
            <div class="arguments-block second-arguments-block">
                <div class="arguments-arrow">
                    <img src="img/arrow-blue-dotet-left.png" alt="arrow">
                </div>
                <div class="arguments-block-info">
                    <div class="argumnets-block-info-title">
                        Подходит к большинству
                        <br> 
                        групп детей
                    </div>
                    <div class="arguments-block-info-text">
                        Автокресло рассчитано на возраст от 1 года до 12 лет (от 9 кг до 36 кг) Имеет пятиточную фиксацию ребенка, как в гоночном автомобиле.
                    </div>
                </div>
                <div class="arguments-image">
                    <img src="img/section-3-img.png " alt="">
                </div>
            </div>
            <div class="arguments-block last-arguments-block">
                <div class="arguments-arrow">
                    <img src="img/arrow-blue-dotet.png" alt="arrow">
                </div>
                <div class="arguments-block-info">
                    <div class="argumnets-block-info-title">
                        Отечественный 
                        <br> 
                        производитель
                    </div>
                    <div class="arguments-block-info-text">
                        Автокресла производят в г. Георгиевске (Ставропольский край), соответсвуют нормам ГИБДД и разрешены к использованию по всей территории РФ, о чем говорит сертификат соответствия.
                    </div>
                </div>
                <div class="arguments-image">
                    <img src="img/section-4-armchair-img.png" alt="">
                </div>
            </div>

        </div>
    </section>


    <section class="saleAdd">
        <div class="container">
            <div class="sale-block">
                <h2 class="sale-title">
                    <div class="sale-title-big-text">Скидка 28%</div>
                    <div class="sale-title-normal-text">и бесплатная доставка</div>
                    <div calss="sale-title-surprize-text"><i class="fas fa-gift"></i> в подарок!</div>
                </h2>
                <div class="price-block">
                    <div class="old-price">2 545 р.</div>
                    <hr class="price-hr">
                    <div class="new-price">2 545 р.</div>
                </div>
                <div class="salAdd-arrow">
                    <img src="img/arrow-in-the-sale.png" alt="arrow">
                </div>
                <div class="sale-form">
                    <div class="last-date">
                        <span class="akciya">Акция
                            <br>
                            только до:
                        </span>
                        <div class="calendar">
                            4
                        </div>
                        <span class="december">
                            декабря!
                        </span>
                    </div>
                    <a href="#"  class="btn book">
                        ЗАКАЗАТЬ
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="stats">
        <div class="conatiner stats-inner">
            <div class="stat">
                <div class="digits-background">
                    <div class="digits">
                        8
                    </div>
                </div>
                <div class="stats-title">
                    лет на рынке
                </div>
            </div>
            <div class="stat">
                <div class="digits-background">
                    <div class="digits">
                        21 645
                    </div>
                </div>
                <div class="stats-title">
                    кресел продано
                </div>
            </div>
            <div class="stat">
                <div class="digits-background">
                    <div class="digits">
                        1 254
                    </div>
                </div>
                <div class="stats-title">
                    что то сделано
                </div>
            </div>
            <div class="stat">
                <div class="digits-background">
                    <div class="digits">
                        45
                    </div>
                </div>
                <div class="stats-title">
                    заказов в день
                </div>
            </div>
        </div>
    </section>


    <section class="certificate">
        <div class="container">
            <div class="certif-title">
                Сертификация товара
            </div>
            <div class="certif-inner">
                <div class="certif-block">
                    <img src="img/sertificate.png" alt="certificate">
                </div>
                <div class="certif-block">
                    <div class="certif-subtitle">
                        <div class="warning-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div> Соответствуют всем нормам 
                        <br>
                        и требованиям правил ГИБДД
                    </div>
                    <div class="certif-text">
                        Наши кресла производятся в г. Георгиевске (Ставропольский край), сертифицированны и разрешены к использованию по всей России.
                        <br>
                        <br>
                        Кресло весит всего 700 грамм, его можно носить с собой и установить в любое авто.
                        <br>
                        <br>
                        Стирать кресло можно при температуре 30 градусов. 
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="qualifaction">
        <div class="container qualy-block">
            <div class="discription-block">
                <div class="discription">
                    <div class="discription-title">
                        Крепкие ремни
                    </div>
                    <div class="discription-text">
                        Тесьма ременная имеет плотную структуру и выдерживает большие нагрузки.
                    </div>
                    <img src="img/1.png" id="a1" alt="arrow">
                </div>
                <div class="discription">
                    <div class="discription-title">
                        Удобная установка
                    </div>
                    <div class="discription-text">
                        Достаточно продеть штатный ремень безопасности автомобиля, через специальный карман устройства "ВИННИ" и застегнуть в замок.
                    </div>
                    <img src="img/2.png" id="a2" alt="arrow">
                </div>
            </div>
            <div class="qualification-img">
                <img src="img/quality-show-imgpng" alt="qualy">
            </div>
            <div class="discription-block">
                <div class="discription">
                    <div class="discription-title">
                        Безопасные материалы
                    </div>
                    <div class="discription-text">
                        При пошиве используется ткань "Оксфорд", сетка Air-mesh 3-х слойная, поролон, спанбонд, халлофайбер. Все материалы экологически чистые, сертифицированы.
                    </div>
                    <img src="img/3.png" id="a3" alt="arrow">
                </div>
                <div class="discription">
                    <div class="discription-title">
                        Прочные крепления
                    </div>
                    <div class="discription-text">
                        Устройство  ВИННИ" имеет пятиточечную систему крепления. Пряжки производят из высокопрочных пластиков, имеющих хорошие показатели упругости. 
                    </div>
                    <img src="img/4.png" id="a4" alt="arrow">
                </div>
            </div>
            
        </div>
    </section>

    <section class="deliverity">
        <div class="container">
            <div class="delivery-content">
                <h3 class="deliverity-title">
                    Оставьте заявку сейчас 
                    <br>
                    и получите
                    <br>   
                    <span class="deliverity-subtitle">бесплатную доставку!</span> 
                </h3>
                <div class="price-block delivery-price">
                    <div class="price-title">Скидка 28%</div>
                    <div class="old-price">2 545 р.</div>
                    <hr class="price-hr">
                    <div class="new-price">1 850 р.</div>
                </div>
                <img src="img/deliverity-arrow.png" alt="" class="deliverity-arrow">
                <input type="text" class="input-mobile-number" placeholder="Ваш телефон">
                <a href="#"  class="btn thanksBtn">ПЕРЕЗВОНИТЕ МНЕ</a>
            </div>
        </div>
    </section>

    <section class="compare">
        <div class="container">
            <div class="compare-titles">
                <h3 style="text-align: right; color:#535353;">
                    Обычное
                    <br>
                    кресло
                </h3>
                <h3 class="c-titles">
                    Бескаркасное
                    <br>
                    кресло
                </h3>
            </div>
            <div class="compare-inner">
                <div class="compare-blocks">
                    <div class="comparing">
                        <div class="cmp-text">
                            боковые стенки преграда 
                            для движений ребенка, 
                            особенно в зимний период, 
                            когда много одежды
                        </div>
                        <img id="g1" src="img/compare-arrow-gray.png" alt="arrow">
                    </div>
                    <div class="comparing">
                        <div class="cmp-text">
                            необходимо менять 
                            автокресло по мере
                            увеличения веса ребенка
                        </div>
                        <img id="g2" src="img/compare-arrow-gray.png" alt="arrow">
                    </div>
                    <div class="comparing">
                        <div class="cmp-text">
                            имеет 5-ти точечную 
                            фиксацию ребенка 
                        </div>
                        <img id="g3" src="img/compare-arrow-gray.png" alt="arrow">
                    </div>
                    <div class="comparing">
                        <div class="cmp-text">
                            нужно убирать в багажник, 
                            при перевозки взрослых 
                            или каких либо грузов
                        </div>
                        <img id="g4" src="img/compare-arrow-gray.png" alt="arrow">
                    </div>
                </div>
                <div class="compare-img">
                    <img src="img/comparing-bg.png" alt="compare">
                </div>
                <div class="compare-blocks">
                    <div class="comparing">
                        <div class="cmp-text">
                            дает полную безопасную 
                            свободу ребёнка 
                            ОСТАВЛЯЕТ СПИНКУ 
                            СИДЕНИЕ ЧИСТЫМ
                        </div>
                        <img id="b1" src="img/comparing-arrow-right.png" alt="arrow">
                    </div>
                    <div class="comparing">
                        <div class="cmp-text">
                            подходит  1, 2, 3 группе детей  
                            (от 9 кг до 36 кг) (от 1 года 
                            до 12 лет)
                        </div>
                        <img  id="b2" src="img/comparing-arrow-right.png" alt="arrow">
                    </div>
                    <div class="comparing">
                        <div class="cmp-text">
                            имеет 5-ти точечную 
                            фиксацию ребенка 
                        </div>
                        <img id="b3" src="img/comparing-arrow-right.png" alt="arrow">
                    </div>
                    <div class="comparing">
                        <div class="cmp-text">
                            не мешает при перевозке 
                            пассажиров или грузов. 
                            Весит 700 грамм
                        </div>
                        <img id="b4" src="img/comparing-arrow-right.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="location">
        <div class="container location-inner">
            <div class="location-display">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1499.0260815164972!2d69.34482804257505!3d41.28596918352136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2sTaskent%2C%20Uzbekist%C3%A1n!5e0!3m2!1ses!2ses!4v1602956843663!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="location-mark">
                <div class="location-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <p class="loc-title">
                    Забрать кресло можно по адресу:
                </p>
                <div class="adress">
                    Челябинск,
                    <br> 
                    ул. Академика Королева, 38
                </div>
                <p class="other-text">или используйте</p>
                <a href="#" id="book" class="btn book">Бесплатная доставка</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="container footer">
            <div class="footer-icon">
                <img src="img/footer_icon.png" alt="">
            </div>
            <div class="conf">
                <a href="#">Политика конфидециальности</a>
            </div>
            <div class="other-info">
                Инн 999999999
                <br>
                ОГРН 453453453453
            </div>
        </div>
    </footer>
    <div class="popup" id="popup-js">
    </div>
    <div class="alertbox" id="alertbox-js">
        <div class="quick-form">
            <a class="x-icon" href="#"><img src="img/x.png" alt=""></a>
            <h3 class="quick-form-title">
                Нет времени читать?
            </h3>
            <p class="quick-form-subtitle">
                Оставляйте номер, мы вам перезвоним!
            </p>
            <input type="text" class="input-mobile-number" placeholder="Ваш телефон">
            <a href="#" class="btn thanksBtn">ПЕРЕЗВОНИТЕ МНЕ</a>
        </div>
    </div>
    <div class="alertbox"  id="thanks">
        <div class="quick-form">
            <a class="x-icon"   href="#"><img src="img/x.png" alt=""></a>
            <h3 class="quick-form-title" style="text-align: center;">
                Спасибо за вашу заявку!
            </h3>
            <p class="quick-form-subtitle" style="text-align: center;">
                Наш менеджер свяжется с вами
                <br>
                в ближайшее время!
            </p>
        </div>
    </div>
    <script>
        let popup = document.getElementById("popup-js");
        let alertbox = document.getElementById("alertbox-js");
        let x = document.getElementsByClassName("x-icon");
        let bookBtn = document.getElementsByClassName("book");
        let thanksBtn = document.getElementsByClassName("thanksBtn")
        let thanks = document.getElementById("thanks");
        
        for(let j=0; j<bookBtn.length; j++)
        {
            bookBtn[j].onclick = function(){
            popup.style.display = "block";
            alertbox.style.display = "block";
            }
        }
        for(let i=0; i<thanksBtn.length; i++){
            thanksBtn[i].onclick = function(){
                if(alertbox.style.display=="block"){
                    alertbox.style.display="none";
                }
                thanks.style.display = "block";
                popup.style.display = "block";
            }
        }
        
        x[0].onclick = function(){
            popup.style.display = "none";
            alertbox.style.display = "none";
            thanks.style.display = "none";
        }
        x[1].onclick = function(){
            popup.style.display = "none";
            alertbox.style.display = "none";
            thanks.style.display = "none";
        }
        popup.onclick = function(){
            popup.style.display = "none";
            alertbox.style.display = "none";
            thanks.style.display = "none";
        }



        alert(window.innerWidth);  
    </script>
</body>
</html>