.price{
    position:relative;
    top:-275px;
    left: -120px;
    color: #ba7281;
    font-size: 24px;
    font-weight: 800;
    opacity: 0;
    transition: opacity 0.2s linear;
    transition: transform 0.2s linear;  
}
.block:hover .price{
    opacity: 1;
    transform: translateY(15px);
}