/************* home ***************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Asap', sans-serif;
    color: rgb(77,77,77);
}
a{
    text-decoration:none;
}
.home{
    width: 100%;
    height: 100vh;
    background: url(../img/bg\ element\ .png) no-repeat center / cover;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: center;
    width: 100px;
}
.logo-img{
    margin-bottom: 10px;
    
}
.logotitle{
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}
.logosubtitle{
    font-family: "Lato";
    font-weight: 600;
    font-size: 10px;
}

.nav{
    
    list-style-type: none;
}
.nav li{
    display: inline-block;
    margin-left: 30px;
}
.nav li a{
    text-transform: uppercase;
    color: rgb(77,77,77);
    font-weight: 400;
    padding-bottom: 10px;
    transition: border 0.2s linear;
}
.nav li a:hover{
    border-bottom: 1px solid rgb(77,77,77);
}

.flex-container{
    clear: both;
    display: flex;
    height: 700px;
}
.home-content{ 
    height: auto;
    width: 50%;
}
.home-img{
    vertical-align: center;
    width: 50%;
    height: auto;
}
.home-img img{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
}
.home-title{
    margin-top: 200px ;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 24px;
}
.home-subtitle{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.btn{
    padding: 20px 48px;
    border: 1px solid rgb(77,77,77);
    color: rgb(77,77,77);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.2s linear;
}
.btn:hover{
    background: white;
    border: none;
    box-shadow: 0  10px 15px 5px rgb(144,144,144);
}

/************ home ************/

/************ body ************/
.body{
    height: 665px;
    padding-top: 100px;
}
.body-container{
    display: flex;
    justify-content: space-between;
}
.body-content{
    width: 480px;

}
.body-image{

}
.pre-title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing:6px;
}
.hr{
    width:70px;
    height: 5px;
    background: rgb(77,77,77);
    margin: 10px 0;
    border: none;

}
.title{
    font-size:46px;
    font-weight: bold;
    color: rgb(124,124,124); 
}
.body-text{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}
/*************** body *************/
/*************** contact **********/
.contact{
    height: 790px;
    background:url(../img/contact\ bg.png) no-repeat center / cover;
    text-align: center;
    padding-top: 90px;
    color: white;
}
.form{
    width: 775px;
    margin: 70px auto 0;
}
.contact hr{
    background: #fff;
    margin: 10px auto;
}
.contact .pre-title{
    font-size: 22px;
    text-transform: uppercase;
}
.contact .title{
    color: #fff;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
input{
    width: 370px;
    height: 55px;
    margin-bottom: 30px;
    padding-left: 10px;
}
#name{
    float: left;
}
#email{
    float: right;
}
.form textarea{
    padding-left: 10px;
    width: 100%;
    height: 210px;
    margin-top: 30px;
    resize: none;
}

.form input::placeholder,
.form textarea::placeholder{
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    color: rgb(77,77,77);
    font-weight: 500;
}

.form button{
    padding: 20px 48px;
    color: rgb(77,77,77);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background:#fff;
    border: none;
    margin-top: 50px;

}

.footer{
    margin-top: 30px;
    bottom: 0;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    border-top: 1px solid #fff;
}



@media (max-width: 720px){
    .header{
        flex-direction: column;
    }
    .home{
        height: auto;
    }
    .flex-container{
        flex-direction: column;
        height: auto;
    }
    .container{
        width: 90%;
    }
    .nav li{
        display: block;
    }
    .home-content{

        text-align: center;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .home-title{
        font-size: 40px;
        margin-top: 20px;
    }
    .home-subtitle{
        font-size: 15px;
    }
    .btn{
        padding: 14px 20px;
    }
    .home-img{
        text-align: center;
        width: 100%;
    }
    .home-img img{
        width: 300px;
        height: 300px;
        margin-top: 0;
        margin-left: 0;
    }


    .body{
        padding-top: 10px;
        height: auto;
    }
    .body-container{
        flex-direction: column;
    }
    .body-content{
        text-align: center;
        width: 100%;
    }
    .body-image img{
        width: 300px;
        height: 300px;
        margin-top: 20px;
    }
    .body-image{
        text-align: center;
    }
    .form{
        width: 95%;
        margin: 10px 0;
    }
    #name{
        float: none;
    }
    #email{
        float: none;
    }
    .form input{
        width: 100%;
    }

}





