<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elena template</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=PT+Sans:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Pattaya&family=Reenie+Beanie&family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <a href="#" class="header-logo"><img class="logo-img" src="img/header-logo.png"></a>
            <nav class="nav">
                <a href="#">home</a>
                <a href="#">services</a>
                <a href="#">features</a>
                <a href="#">contact</a>
            </nav>
            <h1 class="header-title">have a good day</h1>
            <h3 class="header-subtitle">just for you on themeforest</h3>
            <a href="#" class="header-btn">get your copy now</a>
        </div>
    </header>
    <section class="bg-gray">
        <div class="container">
            <div class="services">
                <div class="service">
                    <div class="icon"><i class="fas fa-user-friends"></i></div>
                    <h4 class="service-title">professionals</h4>
                    <hr class="service-line">
                    <p class="service-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="service">
                    <div class="icon"><i class="far fa-heart"></i></div>
                    <h4 class="service-title">amateurs</h4>
                    <hr class="service-line">
                    <p class="service-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="service">
                    <div class="icon"><i class="fas fa-headset"></i></div>
                    <h4 class="service-title">for everyone</h4>
                    <hr class="service-line">
                    <p class="service-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>  
        </div>
    </section>
    <section class="bg-gray second">
        <div class="container">
            <div class="sections">
                <div class="section">
                    <div class="section-icon">
                        <img src="img/section_template_1.png" alt="img">
                    </div>
                    <h3 class="service-title">responsive email template</h3>
                    <hr class="service-line">
                    <div class="section-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea voluptates unde rem illo commodi veritatis excepturi, reiciendis error autem fuga!
                    </div>
                    <a href="#" class="section-btn">
                        Read more
                    </a>
                </div>
                <div class="section">
                    <div class="section-icon">
                        <img src="img/section_template_2.png" alt="img">
                    </div>
                    <h3 class="service-title">fully compatible template</h3>
                    <hr class="service-line">
                    <div class="section-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore hic nesciunt beatae vel est ipsum aspernatur earum dolore velit aliquid!
                    </div>
                    <a href="#" class="section-btn">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray third">
        <div class="container">
            <h3 class="service-title"><i class="icon far fa-life-ring"></i>   fully supported template</h3>
            <hr class="service-line"></hr>
            <div class="service-text">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis debitis, minus commodi, delectus nisi vero cumque eum provident a vitae quia. Modi eligendi obcaecati doloremque atque aliquid autem, neque expedita?
            </div>
            <a href="#" class="section-btn gray">
                Read more
            </a>
        </div>
    </section>
    <section class="bg-gray forth">
        <div class="container">
            <div class="services">
                <div class="service">
                    <div class="icon"><img src="img/forth_1st.png"/></div>
                    <h4 class="service-title">professionals</h4>
                    <hr class="service-line">
                    <p class="service-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="link">Check this out ></a>
                </div>
                <div class="service">
                    <div class="icon"><img src="img/forth_2nd.png"/></i></div>
                    <h4 class="service-title">amateurs</h4>
                    <hr class="service-line">
                    <p class="service-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="link">Check this out ></a>
                </div>
                <div class="service">
                    <div class="icon"><img src="img/forth_3d.png"/></i></div>
                    <h4 class="service-title">for everyone</h4>
                    <hr class="service-line">
                    <p class="service-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="link">Check this out ></a>
                </div>
            </div>  
        </div>
    </section>
    <section class="bg-gray">
        <div class="container">
            <div class="sections">
                <div class="section">
                    <h3 class="service-title"><i class="b far fa-paper-plane"></i>send it now</h3>
                    <hr class="service-line">
                    <div class="section-text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea voluptates unde rem illo commodi veritatis excepturi, reiciendis error autem fuga!
                    </div>
                    <a href="#" class="section-btn">
                        Read more
                    </a>
                </div>
                <div class="section">
                    <h3 class="service-title"><i class="fas fa-pen b"></i>very nice to see</h3>
                    <hr class="service-line">
                    <div class="section-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore hic nesciunt beatae vel est ipsum aspernatur earum dolore velit aliquid!
                    </div>
                    <a href="#" class="section-btn">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray last">
        <div class="container">
            <div class="last-block">
                <div class="last-img">
                    <img src="img/people.png" class="limg" alt="">
                </div>
                <div class="last-content">
                <h3 class="service-title">just for you on themforest</h3>
                <hr class="service-line">
                <div class="service-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis debitis, minus commodi, delectus nisi vero cumque eum provident a vitae quia. Modi eligendi obcaecati doloremque atque aliquid autem, neque expedita?
                </div>
                <a href="#" class="section-btn gray">
                    Read more
                </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <h3 class="footer-title"><i class="ficon far fa-star"></i>this tamplate was featured on</h3>
            <hr>
            <div class="brands">
                <a href="#">Techerunch</a>
                <a href="#">Promail</a>
                <a href="#">Mashable</a>
                <a href="#">atlaspix</a>
            </div>
        </div>
    </footer>
    <div class="underfooter">
        <div class="container">
            <span>Elnea<i class="c far fa-copyright"></i><span class="o">coopyright 2013 -Unsubscribe here</span></span>
            <span class="iconss">
                <a href="#"><i id="first" class="ficons fab fa-google-plus-g"></i></a>
                <a href="#"><i class="ficons fab fa-facebook-f"></i></a>
                <a href="#"><i class="ficons fab fa-twitter"></i></a>
            </span>
        </div>
    </div>

</body>
</html>