*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fcfcfc;;
}
.main{
    width: 100%;
    height: 1090px;
    background: url(../img/Слой\ 569.png);
}
    /* }
.filter{
    background:url(../img/Прямоугольник\ 1\ копия.png);
    width: 100%;
    height: 100%;
} */
.container{
    max-width: 1180px;
    margin: 0 auto;
}
.header{
    height: 130px;
    width: 100%;
}
.first-section{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    color: white;
    align-items: center;
    border-bottom: 1px solid white;
}
.lang ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.lang ul li{
    display: inline-block;
}
.lang ul li a{
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.lang ul li a:hover{
    color: #e3c794;
}
.header-contacts{
    display: flex;
}
.header-contacts{
    display: flex;
    align-items: center;
}
.social_icons{
    transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
.social_icons i:hover{
    color: #e3c794;
}
.call-icon{
    color: black;
    background-color: #e3c794;
    padding: 15px;
    border-radius:29px;
    -webkit-border-radius:29px;
    -moz-border-radius:29px;
    -ms-border-radius:29px;
    -o-border-radius:29px;
    transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
.call-icon:hover{
    background: #ffa806;

}
.call-info a:hover{
    color: #e3c794;
}
.call-info{
    display: flex;
    flex-direction: column;
}

.call-info a{
    margin-left: 30px;
    line-height: 25px;
    font-size: 14px;
    color: white ;
    text-decoration: none;
    transition: color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -ms-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
}
.second-section{
    padding:25px 0;
}
.second-section ul li{
    float: left;
    list-style-type:none ;
    margin-left: 58px;
}

.second-section ul li:first-child{
    margin-left: 0;;
}
.second-section ul li:nth-child(2) ul li{
    float: none;
    margin-left: 0;
    margin: 10px 0;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
}
.second-section ul li:nth-child(2) ul li:hover{
    background-color: rgb(120, 148, 89);
}

.second-section ul li:nth-child(2) ul{
    background-color: rgb(60, 75, 44);
    color:white;
    padding: 10px;  
    display: none;
    position: absolute;
}


.second-section a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
}

.main-content{
    height: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.main-title{
    text-shadow: 0 0 6px rgba(82, 82, 82, 0.08);
    color: #e3c794;
    font-size: 80px;
    font-weight: 700;
    line-height: 60px;
}
.main-title-cont{
    font-size: 50px;
    font-weight: 700;
    color: #eff1f4;
    
}

.main-subtitle{
    text-shadow: 0 0 6px rgba(82, 82, 82, 0.08);
    color: #eff1f4;     
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    width: 77%;
    margin-top: 34px;
    margin-bottom: 50px;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    background:#e3c794;
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: rgb(106, 52, 73);
}
.btn img{
    margin-left: 15px;
    position: relative;
    top:2px;
}
.btn-shadow{
    box-shadow: 3px 3px 3px #e2e2e2;
}
.arrow-icon{
    margin-left: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align:center;
    border: 1px solid  rgb(106, 52, 73);;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


  


/****Benefits****/
.benefits{
    position: relative;
    z-index: 3;
    display: flex;
    background: #FFF;
    justify-content: space-around;
    align-items: center;
    margin-top: -60px;
    padding: 45px 30px; 

}
.benefits-inner{
    width: 230px;
    display: flex;
}
.benefits-inner .benefits_icon  {
    margin-right: 20px;
}

/* ABOUT */
.about{
    z-index: 1;
    position: relative;
    top: -120px;
    background:#fcfcfc;
    padding: 150px 0 100;
    padding-top: 150px;
}
.about-inner{
    display: flex;
}
.about_content{
    padding-top: 90px;
    width: 40%;
    text-align: left;
    padding-right:50px;
}
.about_title{
    font-size: 48px;
    color: #000;
    font-weight: bold;
    margin-bottom: 26px;
}
#title-color{
    color: rgb(193, 155, 70);
}

.about_subtitle{
    font-size: 22px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 40px; 
}
.about_text{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.733;
    text-align: left;
    margin-bottom: 35px;  
}
.about_img{
    width: 60%;
    padding-left: 50px;
    display: flex;
    height: 680px;
}

.first-col{
    margin-top: 30px;
    margin-right: 30px;

}
#first-img{
    margin-bottom: 30px;
}


/* Services */

.services{
    display: flex;
    flex-wrap: wrap;
}
.service{
    display: flex;
    width: 25%;
    height: 385px;
    align-items: flex-end;
    justify-content: space-between;
}   
.service-title{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    display:flex;
    margin: 10px;
}
.service-title-icon{
    position: relative;
    margin-right: 18px;
}
.service-title-icon img{
    position: relative;
    bottom: 10px;
    
}
.service-numb{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.239);
    font-weight: bold;
    margin: 10px;
}
.service:nth-child(1){
    background: url(../img/services/services1.png) no-repeat center / cover;
}
.service:nth-child(2){
    background: url(../img/services/services2.png) no-repeat center / cover;
}
.service:nth-child(3){
    background: url(../img/services/services3.png) no-repeat center / cover;
}
.service:nth-child(4){
    background: url(../img/services/services4.png) no-repeat center / cover;
}
.service:nth-child(5){
    background: url(../img/services/services5.png) no-repeat center / cover;
}
.service:nth-child(6){
    background: url(../img/services/services6.png) no-repeat center / cover;
}
.service:nth-child(7){
    background: url(../img/services/services7.png) no-repeat center / cover;
}

.service:nth-child(8){
    background: url(../img/services/services8.png) no-repeat center / cover;
}



/* MICE */
.mice{
    padding: 120px 0 100px;
    display: flex;

}
.mice_content{
    width: 50%;
    padding-right: 30px;
}
.mice_img{
    padding-top: 30px;
    width: 50%;
    padding-left: 30px;
    text-align: right;
}
.mice_list{
    margin-top: 30px;
    list-style-image: url(../img/arrow\ for\ list.png);
    line-height: 1.857;
    display: flex;
}
.col{
    width:50%;
}
.col:first-child{
    padding-right: 20px;
}
.col:nth-child(2){
    padding-left: 20px;
}
.mice_list a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}
.mice_list a:hover{
    color:rgb(193, 155, 70);
}




/* Tours */
.tours{
    background:#f4f4f4;
    padding: 70px 0;
    text-align: center;
}
.tours_cards{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.t_card_img img{
    width: 100%;
}
.tours_card{
    background-color: #fff;
    width: 32%;
    box-shadow: 3xp 3px 3px #eeeeee;
    text-align: left;
}
.t_card_title{
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.t_c_{
    padding: 16px;
}
.rotation{
    margin-bottom: 10px;
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 400;
}
.t_c_info{
    border-top: 1px solid #eaeaea;
    display: flex;
}
.tours_btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.tours_btn a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}
.tours_btn:hover{
    background:#e3c794;
}
.way{
    display: flex;
    width: 70%;
    padding: 18px 16px;
    align-items: center;
    justify-content: space-between;
    color: #7b7b7b;
    font-size: 14px;
    font-weight: 400;
    border-right: 1px solid #eaeaea;
}


/* AVIATION */
.aviation{
    background: url(../img/avia\ bg.png) no-repeat center / cover;
    padding: 80px 0;
}
.aviation__inner{
    display: flex;
}
.aviation_content{
    width: 55%;
    padding-left: 20px;
}
.aviation_img{
    width: 45%;
    
}
.aviation_text{
    margin: 40px 0 35px;
    padding-right: 40px;
}


/* NEws */
.news{
    background: #fcfcfc;
    padding: 100px 0;
    text-align: center;
}



/* Partners */

.partners{
    text-align: center;
    background-color: #fff;
    padding:60px 0;
}
.clients{
    text-align: center;
    background-color:#f9f9f9;
    padding:60px 0;
}
.img_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grayscale{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition:-webkit-filter 0.3s linear;
    transition:filter 0.3s linear;
    transition:filter 0.3s linear, -webkit-filter 0.3s linear;
    -webkit-transition:filter 0.3s linear;
    -moz-transition:filter 0.3s linear;
    -ms-transition:filter 0.3s linear;
    -o-transition:filter 0.3s linear;
}
.grayscale:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* Footer */
.footer{
    background: url(../img/footer\ bg.png) no-repeat center / cover;
    padding-top: 70px;
    padding-bottom: 20px;
    color:white;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

}
.footer_blocks:nth-child(1){
    width: 35%;
}
.footer_blocks{
    width: 18%;
    padding: 0 20px;
}
.footer_info{
    margin-top: 25px;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

.footer_titles{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer_text{

    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin: 15px 0;
}
.footer_blocks ul{
    list-style-image: url(../img/wight_right_arrow.png);
}
.footer_blocks ul li{
    margin: 15px 0;
}
.footer_blocks ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
}


.copy{
    border-top: 0.8px solid rgb(194, 187, 187);
    text-align: center;
    padding: 10px 0 0;
}  
.footer_icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.social_icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    font-size:40px;
    top:750px;
    left:30px;
}
.social_icons i{
    margin: 30px 0;
}
/********************************************************************/
.btn_active{
    display: none;
}
.burger_menu_btn{
    z-index: 30;
    position: fixed;
    top: 150px;
    left: 20px;
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}
.burger_menu_line,
.burger_menu_line::before,
.burger_menu_line::after{
    position: absolute;
    width: 30px;
    height: 5px;
    border: none;
    background-color: #fff;
}
.burger_menu_line{
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.burger_menu_line::before{
    content:'';
    top: -12px;
}
.burger_menu_line::after{
    content:'';
    top: 12px;
}
.burger_menu:hover .burger_menu_line{
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}
.burger_menu_active .burger_menu_line{
    background:transparent;
}
.burger_menu_active .burger_menu_line::before,
.burger_menu_active .burger_menu_line::after{
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}


.burger_menu_active .burger_menu_line::before{
    top:0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.burger_menu_active .burger_menu_line::after{
    top:0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.burger_menu__nav{
    padding-top: 210px;
    position: fixed;
    z-index:15;
    display: flex;
    height: 100%; 
    flex-flow: column;  
    background-color:gray;
    overflow-y: auto;
    left: -100%;
}
.burger_menu_active .burger_menu__nav{
    left: 0;
    
    transition: 0.5s linear;
}
.nav_links{
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;

}
.nav_links:hover{
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}
.burger_menu_overlay{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top:0;
    left: 0;

}
.burger_menu_active .burger_menu_overlay{
    display: block;
}


.array_rotate_back{
    transition: transform 0.4s linear;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    -ms-transition: transform 0.4s linear;
    -o-transition: transform 0.4s linear;
}

/************************************/
.icon_arrow_rotate{
    transition: transform 0.5s linear;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}
@media(max-width: 1350px){
    .conatiner{
        max-width: 1300px;
    }
    .lang ul li{
        margin: 0 8px;
    }
    .social_icons{
        font-size: 26px;
        top: 900px;
        left: 10px;
    }
    .social_icons i{
        margin: 10px 0;
    }
    .service{
        height: 320px;
    }
    .service-title{
        font-size: 13px;
    }
    .aviation_content{
        width: 40%;
    }
    .aviation_img{
        width: 60%;
    }
    .aviation_img img{
        width: 100%;
    }
    .benefits{
        width: 80%;
    }
}
@media(max-width: 1225px){
    .container{
        max-width: 1180px;
    }
    .first-col{
        margin-right: 10px;
    }
    #third-image{
        margin-left: 10px;
    }
    .aviation_img img{
        margin-top: 100px;
    }
    .mice_img img{
        width: 80%;
    }
    .mice_img{
        text-align: left;
    }
    #third-image{
        width: 50%;
    }
    .about_content{
        padding-right: 10px;
    }
    #first-img{
        width: 90%;
    }
    #second-img{
        width: 90%;
    }
    .mice_img{
        text-align: left;

    }
    .mice_img img{
        width: 80%;
        margin-top: 50px;
    }
}
@media(max-width: 1190px){
    .container{
        max-width: 1050px;
    }
    .second-section ul li{
        float: left;
        list-style-type:none ;
        margin-left: 30px;
        
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mice_img img{
        width: 90%;

    }
    .mice_img{
        padding-left: 5%;
    }
    .second-section ul li:first-child{
        margin-left: 0;;
    }
    .about_img{
        padding-left: 20px;
    }
    .aviation_img img{
        max-width: 90%;
    }
}
@media(max-width: 1140px)
{
    .container{
        max-width: 1070px;
    }
    .benefits{
        bottom: 70px;
    }
    .benefits-inner{
        padding: 10px;
    }
    .about_content{
        width: 35%;
        padding-right:10px;

    }
    .about_img{
        padding-left:10px;
    }
    .first-col{
        margin-right: 10px;
    }
    #first-img{
        margin-bottom: 10px;
    }
    .service{
        height: 300px;
    }
    .service-title{
        font-size: 11px;
    }
    .service-numb{
        font-size: 40px;
    }
    .mice_content{
        padding: 10px 0 10px 10px;
    }
    .col:first-child{
        padding-left: 10px;
        padding-right: 0;
    }
    .col:nth-child(2){
        margin-left: 10px;
    }
    .mice_img{
        text-align: left;
    }
    .mice_img img{
        padding-top: 60px;
        width: 80%;
    }
    .aviation_img{
        width: 70%;
    }
    .aviation_img img{
        margin-top: 200px;
        width: 100%;
    }
}
@media(max-width: 1070px){
    .container{
        max-width: 990px;
    }
    .mice_content{
        padding-right: 10px;
    }
    .mice_img img{
        width: 90%;
    }
    .mice_img{
        text-align: left;
    }
}
@media(max-width: 992px){
    .btn_active{
        display: block;
    }
    .second-section{
        display: none;
    }
    .container{
        max-width: 960px;
    }
    #first-img{
        width: 90%;
    }
    #second-img{
        width: 90%;
    }
    #third-img{
        width: 90%;
    }
    .service-title{
        margin: 0 0 5px 5px;
    }
    .service-title-icon{
        margin-right: 4px;
    }
    .service-title-icon img{
        width: 30px;
        height: 30px;
    }
    .service-numb{
        margin: 0 5px 5px 0; 
    }
    .mice_img{
        padding: 0;
    }
    .mice_img img{
        margin: 50px 0 0 0;
        width: 90%;
    }
    .t_card_title{
        font-size: 18px;
    }
    .img_block img{
        width: 80%;
    }
    
}
@media(max-width: 950px){
    .second-section{
        display: none;
    }
    .conatiner{
        max-width: 768px;
    }
    .main-content{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .second-section ul li{
        float: left;
        list-style-type:none ;
        margin-left: 15px;
        
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-title{
        line-height: 36px;
        font-size: 48px;
    }
    .main-title-cont{
        font-size: 38px;
    }
    .main-subtitle{
        margin: 10px 0;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .btn{
        padding: 12px 19px;
        font-size: 18px;
    }
    .benefits img{
        width: 40px;
        height: 40px;
    }
    .benefits_title .title{
        font-size: 16px;
    }
    .benefits_title{
        font-size: 13px;
    }
    .benefits-inner .benefits_icon {
        margin-right: 5px;
    }
    .about_title{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about_content{
        padding-top: 20px;
    }
    .about_subtitle{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .about_text{
        font-size: 13px;
        line-height: 1.5;
    }
    .about{
       max-height: 650px;
    }
}
@media(max-width:768px){
    .second-section{
        display: none;
    }
    .container{
        max-width: 730px;
    }
    .first-section{
        padding: 10px 0;
    }
    .main-title{
        line-height: 30px;
        font-size: 40px;
    }
    .main-title-cont{
        font-size: 30px;
    }
    .main{
        height: 100vh;
    }
    .main-content{
        height: 60vh;
    }
    .main-subtitle{
        margin: 10px 0;
        font-size: 15px;
    }
    .btn{
        padding: 8px 15px;
        font-size: 15px;
    }
    .btn img{
        width: 13x;
        height: 13px;
    }
    .benefits{
        width: 80%;

    }
    .benefits img{
        width: 35px;
        height: 35px;
    }
    .benefits_title .title{
        font-size: 15px;
    }
    .benefits_title{
        font-size: 10px;
    }
    .benefits-inner .benefits_icon {
        margin-right: 5px;
    }
    .about{
        padding-top:70px;    
    }
    .about_title{
        font-size: 35px;
        margin-bottom: 15px;
    }
    .about_content{
        padding-top: 20px;
    }
    .about_subtitle{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .about_text{
        font-size: 15px;
        line-height: 1.5;
    }
    .about_img{
        padding-top: 50px;
    }
    #second-img{
        height: 30%;
        width: 100%;    
    }
    #first-image{
        height: 100%;
    }
    #third-image{
        height: 60%;
        width: 60%;
    }
    .about{
        position: relative;
        height: 100vh;
    }
    .service{
        height: 45vh;
    }
    .service-title{
        margin: 0 0 5px 5px;
        font-size: 10px;
    }
    .service-title-icon{
        margin-right: 4px;
    }
    .service-title-icon img{
        width: 30px;
        height: 30px;
    }
    .service-numb{
        font-size: 30px;
        margin: 0 5px 5px 0; 
    }
    .mice{
        padding-top: 30px;
    }
    .col li{
        line-height: 20px;
    }
    .col li a{
        font-size: 13px;
    }
    .tours_cards{
        margin: 20px 0;
    }
    .t_c_info p,.t_c_info a{
        font-size: 10px;    
    }
    .aviation_img{
        width: 50%;
    }
    .aviation_img img{
        width: 100%;
        margin-top: 100px;
    }   
    .aviation_content{
        width: 50%;
    }
    .aviation_text{
        margin: 10px 0 20px 0;
    }
    .aviation{
        padding: 20px;
    }
    .news{
        padding: 20px;
    }
    .img_block img{
        width: 70%;
        height: 90%;
    }
    .footer_info{
        font-size: 11px;
        line-height: 15px;
    }
    .footer_titles{
        font-size: 12px;
    }
    .footer_blocks:first-child{
        padding:0 ;
    }
    .footer_blocks:nth-child(2){
        padding: 0 5px;
    }
    .footer_blocks:nth-child(3){
        padding: 0 5px 0 10px;
    }
    
    .footer_icons {
        flex-wrap: wrap;
    }
    .footer_icons i{
        margin: 10px;
    }
    .t_card_title{
        font-size: 15px;
    }
    .rotation{
        font-size: 12px;
    }
    .footer{
        padding: 20px 0; 
        
    }
    .footer_main{
        padding-bottom: 20px;
    }
    .footer_blocks:first-child{
        width: 28%;
    }
    .footer_blocks:nth-child(3){
        padding: 0 5px;
    }
    .ffi{
        padding: 0 5px;
        width: 12%;
    }
    .ffa{

        padding: 0 5px;
    }
    .footer_blocks:nth-child(2){
        width: 20%;
    }
    .copy{
        font-size: 12px;
    }
}
@media(max-width: 665px){
    .container{
        max-width: 580px;
    }
    .lang ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    .lang ul li{
        display: inline-block;
    }
    .lang ul li a{
        font-weight: 400;
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
    .call-info a{
        margin-left: 3px;
    }
    .benefits{
        flex-wrap: wrap;
        padding: 10px 5px;
    }
    .benefits-inner{
        width: 50%;
    }
    .about{
        padding-bottom: 850px;
    }
    .about-inner{
        flex-wrap:wrap;
    }
    .about_content{
        width: 100%;
    }
    .about_img{
        padding-top: 5px;
        width: 100%;
    }
    #first-img{
        width: 100%;
    }
    #second-img{
        width: 100%;
        height: 40%;
    }
    .first-col{
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    #third-image{
        width: 40%;
        height: 80%
    }
    .lang ul li a{
        font-size: 13px;
    }
    .lang ul li{
        margin: 0 3px;
    }
    .call-info{
        font-size: 13px;
        line-height: 20px;
        margin-left: 4px;
    }
    .call-icon{
        padding: 7px;
        font-size: 13px;
    }
    .main-title{
        font-size: 30px;
    }
    .main-title-cont{
        font-size: 25px;
    }
    .main-subtitle{
        font-size: 15px;
        line-height: 20px;
    }
    .main{
        height: 100vh;
        width: 100%;
    }
    .about{
        padding-bottom: 850px;
    }
    .about-inner{
        flex-wrap:wrap;
    }
    .about_content{
        width: 100%;
    }
    .about_img{
        padding-top: 5px;
        width: 100%;
    }
    #first-img{
        width: 100%;
    }
    #second-img{
        width: 100%;
        height: 40%;
    }
    .first-col{
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    #third-image{
        width: 40%;
        height: 80%
    }

    .mice{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .mice_img{
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-top: 0;

    }
    .mice_img img{
        margin-top: 0;
        padding-top: 0;
        width:70%;
    }
    .mice_content{

        width: 100%;
    }
    .aviation__inner{
        flex-direction: column;
    }
    .tours_cards{
        flex-wrap: wrap;
    }
    .partners, .clients{
        flex-wrap: wrap;
    }
    .service{
        width: 50%;
    }
    .about_title{
        font-size: 25px;
    }
    .about_subtitle{
        font-size: 18px;
    }
    .about_text{
        font-size: 15px;
    }
    .aviation_content{
        width: 100%;
    }
    .aviation_img{
        width: 100%;
    }
    .aviation_img img{
        margin-top: 20px;
    }
    .footer_main{
        flex-wrap: wrap;
    }
    .footer_blocks:first-child{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer_blocks:nth-child(2){
        width: 25%;
    }
    .footer_blocks:nth-child(3){
        width: 25%;
    }
    .footer_blocks:nth-child(4){
        width: 25%;
    }
    .footer_blocks:nth-child(5){
        width: 20%;
    }
}
@media(max-width:540px){
    .container{
        max-width: 480px;

    }
}

.second-section a:hover{
    color: #e3c794;;
}


.btn{
    transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
.btn:hover{
    background-color: #f3aa23;
}
@media(max-width: 480px){
    .container{
        max-width: 430px;
    }
    .main{
        height: 100vh;
    }
    .lang{
        display: none;
    }
    .burger_menu__nav .lang{
        display: flex;
    }
    .img_block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .img_block img{
        margin: 10px 0;
    }
    .footer_main{
        flex-wrap: wrap;
    }
    .footer_blocks:nth-child(2),
    .footer_blocks:nth-child(3),
    
    .footer_blocks:nth-child(4),
    .footer_blocks:nth-child(5){
        width: 50%;
        padding: 10px 10px;
    }
}
@media(max-width: 430px){
    .container{
        max-width: 360px;
    }
}
@media(max-width:373px){
    .container{
        max-width: 320px;
    }
    .tours_cards{
        flex-flow: colu
    }
    .tours_card{
        width: 100%;
        margin: 5px 0;
        
    }
    .about_img{
        flex-flow: column;
    }
    .first-col{
        flex-flow: row;
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #third-image{
        width: 100%;
        margin-left: 0px;
    }
    #first-img{
        padding-right: 5px;
        width: 50%;
    }
    #second-img{
        height: 100%;
        width: 50%;
    }
    .about{
        padding-bottom: 1050px;
    }
    .logo img{
        width: 80%; 
    }
}
